<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>小七当家</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.20180227</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxc5e20b28cf976b5c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qq</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1106505226</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.20180227</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>wtloginmqq2</string>
		<string>mqqapi</string>
		<string>mqqwpa</string>
		<string>mqzone</string>
		<string>mqq</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdkdataline</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>App需要使用蓝牙开门是否允许访问您的蓝牙设备？</string>
	<key>NSCameraUsageDescription</key>
	<string>App需要扫描二维码获得设备信息和进行云对讲是否允许打开相机？</string>
	<key>NSHealthShareUsageDescription</key>
	<string>App需要获得用户运动数据是否允许访问健康分享？</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>App需要获得用户运动数据是否允许访问健康更新 ？</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>App需要获得当地天气信息是否允许总是使用用户位置？</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>App需要获得当地天气信息是否允许始终访问位置？</string>
	<key>NSLocationUsageDescription</key>
	<string>App需要获得当地天气信息是否允许访问位置？</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>App需要获得当地天气信息是否允许在使用期间访问位置？</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>App需要进行云对讲是否允许访问您的麦克风？</string>
	<key>NSMotionUsageDescription</key>
	<string>App需要获得当地天气信息是否允许访问运动与健身？</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>App需要从相册读取二维码是否允许访问相册？</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App需要从相册读取二维码是否允许访问相册？</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
